---
import About from '../components/About.astro'
import Contact from '../components/Contact.astro'
import Experience from '../components/Experience.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Project from '../components/Project.astro'
import Video from '../components/Video.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Abdur Rahman Robin | Software Developer</title>
  </head>
  <body>
    <Header />
    <main class='bg-linear'>
      <Hero />
      <About />
      <Experience />
      <Project />
      <Video />
      <Contact />
    </main>
  </body>
  <script src='../../node_modules/preline/dist/preline.js'></script>
</html>

<style>
  .bg-linear {
    background: linear-gradient(
      180deg,
      hsl(273, 37%, 93%),
      hsl(273, 37%, 93%),
      #fdfeff
    );
  }
</style>
