<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Abdur Rahman Robin | Software Developer</title>
  </head>
  <body>
    <main class='bg-linear h-screen w-screen flex flex-col items-center'>
      <img
        class='w-full h-1/4 object-cover'
        src='/links_bg.jpeg'
        alt='Abdur Rahman Robin link page background photo'
      />

      <div class='profile max-w-lg w-full flex flex-col items-center'>
        <img
          class='w-40 rounded-full border-8 border-white'
          src='/robin_profile.jpeg'
          alt='Abdur Rahman Robin'
        />
        <h2 class='text-3xl mt-4'>Abdur Rahman Robin</h2>
        <p class='text-center my-4 text-sm'>
          A SOFTWARE ENGINEER, PART-TIME YOUTUBER AND LOVE TO PLAY FOOTBALL &
          TABLE TENNIS.
        </p>

        <div class='my-6 space-x-6 flex'>
          <a href='https://www.facebook.com/robin4java' target='_blank'>
            <img src='/icons/facebook.svg' class='w-6' />
          </a>
          <a
            href='https://www.instagram.com/abdur_rahman.robin/'
            target='_blank'
          >
            <img src='/icons/instagram.svg' class='w-6' />
          </a>
          <a href='https://www.linkedin.com/in/robin4java/' target='_blank'>
            <img src='/icons/linkedin.svg' class='w-6' />
          </a>
          <a href='https://twitter.com/robin4java' target='_blank'>
            <img src='/icons/twitter.svg' class='w-6' />
          </a>
          <a href='https://www.tiktok.com/@iamrobinrahman' target='_blank'>
            <img src='/icons/tiktok.svg' class='w-6' />
          </a>
          <a href='https://www.youtube.com/@codeonces' target='_blank'>
            <img src='/icons/youtube.svg' class='w-6' />
          </a>
        </div>

        <div class='mt-4 flex flex-col space-y-6 w-full'>
          <a
            href='https://www.robinrahman.me/'
            target='_blank'
            class='bg-white p-4 w-full text-center shadow-sm rounded-md'
            >Portfolio</a
          >
          <a
            href='https://github.com/robin3317'
            target='_blank'
            class='bg-white p-4 w-full text-center shadow-sm rounded-md'
            >Github</a
          >
          <a
            href='https://leetcode.com/robin_rahman/'
            target='_blank'
            class='bg-white p-4 w-full text-center shadow-sm rounded-md'
            >Leetcode</a
          >
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  .bg-linear {
    background: linear-gradient(
      180deg,
      hsl(273, 37%, 93%),
      hsl(273, 37%, 93%),
      #fdfeff
    );
  }
  .profile {
    margin-top: -80px;
    padding: 12px;
  }
</style>
