<div
  id='about'
  class='max-w-[85rem] mx-auto px-4 py-16 sm:px-20 lg:px-40 mb-24'
>
  <h1 class='mb-4 font-bold text-3xl'>01. About Me</h1>
  <!-- Grid -->
  <div class='mt-6 grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-20 items-start'>
    <!-- Start Col -->
    <div>
      <h1
        class='block text-3xl font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white'
      >
      </h1>
      <p class='mt-3 text-lg text-gray-800 dark:text-gray-400'>
        Hi, I'm Abdur Rahman Robin, a passionate Software Developer from
        Bangladesh, currently working at <a
          class='text-blue-600'
          href='http://ofo.my'>OFO Tech Sdn Bhd</a
        >. I have been building stuff since 2014 when I started my varsity
        journey.
      </p>
      <p class='mt-3 text-lg text-gray-800 dark:text-gray-400'>
        Learning new thing(s) isn't my hobby, I love to learn so much that It's
        my life style. I always try to up-to-date with new technologies as well
        as software communities. And I love to share my knowledge with other.
        And I am the founder of a YouTube channel, <a
          class='text-blue-600'
          href='https://www.youtube.com/@codeonces'>Codeonces</a
        >.
      </p>
      <p class='mt-3 text-lg text-gray-800 dark:text-gray-400'>
        In summary I'm a results-oriented software developer with a focus on the
        design and implementation of business logic. 4+ years of experience in
        developing cutting-edge engineering solutions with a wide range of
        <a class='text-blue-600' href='https://edutechs.org/'>EdTech</a>, <a
          class='text-blue-600'
          href='https://gotemplate.net/'>eCommerce</a
        > and technology features. Skilled in agile processes, frontend and backend
        development, and creating fully featured mobile and web applications.
      </p>
      <p class='mt-3 text-md text-gray-800 dark:test-gray-400'>
        Here are a few technologies I’ve been working with recently:
        <ul class='grid grid-cols-2 mt-2'>
          <li class='skill flex items-center pl-5 relative'>Javascript</li>
          <li class='skill flex items-center pl-5 relative'>Typescript</li>
          <li class='skill flex items-center pl-5 relative'>React</li>
          <li class='skill flex items-center pl-5 relative'>Next.js</li>
          <li class='skill flex items-center pl-5 relative'>Astro</li>
          <li class='skill flex items-center pl-5 relative'>React Native</li>
          <li class='skill flex items-center pl-5 relative'>Redux</li>
          <li class='skill flex items-center pl-5 relative'>Redux Toolkit</li>
          <li class='skill flex items-center pl-5 relative'>Node.js</li>
          <li class='skill flex items-center pl-5 relative'>
            Jest + React Testing Library
          </li>
        </ul>
      </p>
    </div>
    <!-- End Col -->

    <div class='relative md:ml-4'>
      <img
        class='w-full rounded-md'
        src='/robin_portfolio.png'
        alt='Abdur Rahman Robin'
      />
      <div
        class='absolute inset-0 -z-[1] bg-gradient-to-tr from-gray-200 via-white/0 to-white/0 w-full h-full rounded-md mt-4 -mb-4 mr-4 -ml-4 lg:mt-6 lg:-mb-6 lg:mr-6 lg:-ml-6 dark:from-slate-800 dark:via-slate-900/0 dark:to-slate-900/0'
      >
      </div>

      <!-- SVG-->
      <div class='absolute bottom-0 left-0'>
        <svg
          class='w-2/3 ml-auto h-auto text-white dark:text-slate-900'
          width='630'
          height='451'
          viewBox='0 0 630 451'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <rect x='531' y='352' width='99' height='99' fill='currentColor'
          ></rect>
          <rect x='140' y='352' width='106' height='99' fill='currentColor'
          ></rect>
          <rect x='482' y='402' width='64' height='49' fill='currentColor'
          ></rect>
          <rect x='433' y='402' width='63' height='49' fill='currentColor'
          ></rect>
          <rect x='384' y='352' width='49' height='50' fill='currentColor'
          ></rect>
          <rect x='531' y='328' width='50' height='50' fill='currentColor'
          ></rect>
          <rect x='99' y='303' width='49' height='58' fill='currentColor'
          ></rect>
          <rect x='99' y='352' width='49' height='50' fill='currentColor'
          ></rect>
          <rect x='99' y='392' width='49' height='59' fill='currentColor'
          ></rect>
          <rect x='44' y='402' width='66' height='49' fill='currentColor'
          ></rect>
          <rect x='234' y='402' width='62' height='49' fill='currentColor'
          ></rect>
          <rect x='334' y='303' width='50' height='49' fill='currentColor'
          ></rect>
          <rect x='581' width='49' height='49' fill='currentColor'></rect>
          <rect x='581' width='49' height='64' fill='currentColor'></rect>
          <rect x='482' y='123' width='49' height='49' fill='currentColor'
          ></rect>
          <rect x='507' y='124' width='49' height='24' fill='currentColor'
          ></rect>
          <rect x='531' y='49' width='99' height='99' fill='currentColor'
          ></rect>
        </svg>
      </div>
      <!-- End SVG-->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>

<style>
  .skill::before {
    content: '▹';
    position: absolute;
    left: 0px;
    font-size: 12px;
    line-height: 12px;
  }
</style>
