<div
  id='contact'
  class='max-w-[85rem] flex flex-col justify-center items-center mx-auto px-4 py-16 sm:px-20 lg:px-40 mb-24'
>
  <h1 class='mb-4 font-bold text-3xl'>05. What's Up</h1>
  <!-- Grid -->
  <div class='text-center max-w-lg'>
    <div>
      <p
        class='flex-none text-xl font-semibold text-black dark:text-white'
        aria-label='Brand'
      >
        Let's get in touch
      </p>
    </div>

    <div class='mt-3'>
      <p class='text-gray-500 mb-5'>
        I enjoy working with dedicated creatives that make the world beautiful.
        My inbox is always open. Whether you have a question or just want to say
        hi, I’ll try my best to get back to you!
      </p>
      <a
        type='button'
        class='py-3 px-5 inline-flex justify-center items-center gap-2 rounded-md border-2 border-gray-900 font-semibold text-gray-800 hover:text-white hover:bg-gray-800 hover:border-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-offset-2 transition-all text-sm'
        href='mailto:abdurrahmanrobin47@gmail.com'
        target='_blank'
      >
        Say Hello
      </a>
    </div>

    <!-- Social Brands -->
    <div class='mt-5 space-x-2'>
      <a
        href='https://www.linkedin.com/in/robin4java/'
        aria-label='Linkedin'
        target='_blank'
        rel='noreferrer'
        class='inline-flex justify-center items-center w-10 h-10 text-center text-gray-500 hover:bg-gray-100 hover:text-blue-600 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition dark:text-gray-500 dark:hover:text-gray-200 dark:hover:bg-gray-800'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          role='img'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
          class='feather feather-linkedin w-5'
          ><title>LinkedIn</title><path
            d='M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z'
          ></path><rect x='2' y='9' width='4' height='12'></rect><circle
            cx='4'
            cy='4'
            r='2'></circle>
        </svg>
      </a>
      <a
        href='https://twitter.com/robin4java'
        aria-label='Twitter'
        target='_blank'
        rel='noreferrer'
        class='inline-flex justify-center items-center w-10 h-10 text-center text-gray-500 hover:bg-gray-100 hover:text-blue-600 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition dark:text-gray-500 dark:hover:text-gray-200 dark:hover:bg-gray-800'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          role='img'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
          class='feather feather-twitter w-5'
          ><title>Twitter</title><path
            d='M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z'
          ></path>
        </svg>
      </a>
      <a
        href='https://github.com/robin3317'
        aria-label='Github'
        target='_blank'
        rel='noreferrer'
        class='inline-flex justify-center items-center w-10 h-10 text-center text-gray-500 hover:bg-gray-100 hover:text-blue-600 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition dark:text-gray-500 dark:hover:text-gray-200 dark:hover:bg-gray-800'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          role='img'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
          class='feather feather-github w-5'
          ><title>GitHub</title><path
            d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'
          ></path>
        </svg>
      </a>
    </div>
    <!-- End Social Brands -->
  </div>
  <!-- End Grid -->
</div>
