<!-- Features -->
<div class='max-w-[85rem] px-4 py-16 sm:px-20 lg:px-40 mx-auto' id='experience'>
  <h1 class='mb-4 font-bold text-3xl'>02. Where I've worked</h1>
  <div class='mt-6 relative p-6 md:p-16'>
    <!-- Grid -->
    <div
      class='relative z-10 lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center'
    >
      <div class='mb-20 lg:mb-0 lg:col-span-6 lg:col-start-8 lg:order-2'>
        <!-- Tab Navs -->
        <nav class='grid gap-4 mt-5' aria-label='Tabs' role='tablist'>
          <button
            type='button'
            class='hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-left border border-transparent hover:border-slate-300 p-4 md:p-5 rounded-xl dark:hs-tab-active:border-transparent dark:hover:border-slate-700 active'
            id='tabs-with-card-item-1'
            data-hs-tab='#tabs-with-card-1'
            aria-controls='tabs-with-card-1'
            role='tab'
          >
            <span class='flex'>
              <svg
                class='flex-shrink-0 mt-2 h-6 w-6 md:w-7 md:h-7 text-blue-600 dark:text-blue-600'
                xmlns='http://www.w3.org/2000/svg'
                width='16'
                height='16'
                fill='currentColor'
                viewBox='0 0 16 16'
              >
                <path
                  d='M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z'
                ></path>
              </svg>
              <span class='ml-6'>
                <span
                  class='block text-lg font-semibold text-blue-600 dark:text-blue-600'
                  >OFO Tech Sdn Bhd</span
                >
                <span
                  class='block mt-1 text-gray-800 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                  >One-stop technology solutions provider.</span
                >
                <span
                  class='block mt-1 text-slate-600 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                  >Kuala Lumpur, Malaysia</span
                >
              </span>
            </span>
          </button>

          <button
            type='button'
            class='hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-left border border-transparent hover:border-slate-300 p-4 md:p-5 rounded-xl dark:hs-tab-active:border-transparent dark:hover:border-slate-700'
            id='tabs-with-card-item-2'
            data-hs-tab='#tabs-with-card-2'
            aria-controls='tabs-with-card-2'
            role='tab'
          >
            <span class='flex'>
              <svg
                class='flex-shrink-0 mt-2 h-6 w-6 md:w-7 md:h-7 text-blue-600 dark:text-blue-600'
                xmlns='http://www.w3.org/2000/svg'
                width='16'
                height='16'
                fill='currentColor'
                viewBox='0 0 16 16'
              >
                <path
                  d='M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z'
                ></path>
              </svg>
              <span class='ml-6'>
                <span
                  class='block text-lg font-semibold text-blue-600 dark:text-blue-600'
                  >Daffodil International University</span
                >
                <span
                  class='block mt-1 text-gray-800 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                  >A recognized private university in Bangladesh.</span
                >
                <span
                  class='block mt-1 text-slate-600 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                  >Dhaka, Bangladesh</span
                >
              </span>
            </span>
          </button>

          <button
            type='button'
            class='hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-left border border-transparent hover:border-slate-300 p-4 md:p-5 rounded-xl dark:hs-tab-active:border-transparent dark:hover:border-slate-700'
            id='tabs-with-card-item-3'
            data-hs-tab='#tabs-with-card-3'
            aria-controls='tabs-with-card-3'
            role='tab'
          >
            <span class='flex'>
              <svg
                class='flex-shrink-0 mt-2 h-6 w-6 md:w-7 md:h-7 text-blue-600 dark:text-blue-600'
                xmlns='http://www.w3.org/2000/svg'
                width='16'
                height='16'
                fill='currentColor'
                viewBox='0 0 16 16'
              >
                <path
                  d='M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z'
                ></path>
              </svg>
              <span class='ml-6'>
                <span
                  class='block text-lg font-semibold text-blue-600 dark:text-blue-600'
                  >Edutechs</span
                >
                <span
                  class='block mt-1 text-gray-800 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                  >One click digital classroom solution.</span
                >
                <span
                  class='block mt-1 text-slate-600 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                  >Dhaka, Bangladesh</span
                >
              </span>
            </span>
          </button>

          <button
            type='button'
            class='hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-left border border-transparent hover:border-slate-300 p-4 md:p-5 rounded-xl dark:hs-tab-active:border-transparent dark:hover:border-slate-700'
            id='tabs-with-card-item-4'
            data-hs-tab='#tabs-with-card-4'
            aria-controls='tabs-with-card-4'
            role='tab'
          >
            <span class='flex'>
              <svg
                class='flex-shrink-0 mt-2 h-6 w-6 md:w-7 md:h-7 text-blue-600 dark:text-blue-600'
                xmlns='http://www.w3.org/2000/svg'
                width='16'
                height='16'
                fill='currentColor'
                viewBox='0 0 16 16'
              >
                <path
                  d='M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z'
                ></path>
              </svg>
              <span class='ml-6'>
                <span
                  class='block text-lg font-semibold text-blue-600 dark:text-blue-600'
                  >Gain Solution</span
                >
                <span
                  class='block mt-1 text-gray-800 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                  >A professional software development company.</span
                >
                <span
                  class='block mt-1 text-slate-600 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                  >Dhaka, Bangladesh</span
                >
              </span>
            </span>
          </button>
        </nav>
        <!-- End Tab Navs -->
      </div>

      <div class='lg:col-span-6'>
        <div class='relative'>
          <!-- Tab Content -->
          <div>
            <div
              id='tabs-with-card-1'
              role='tabpanel'
              aria-labelledby='tabs-with-card-item-1'
              class='p-5 shadow-xl shadow-gray-300 rounded-xl dark:shadow-gray-900/[.2]'
            >
              <a
                href='https://ofo.my'
                target='_blank'
                class='block text-lg font-semibold text-blue-600 dark:text-blue-600 hover:underline underline-offset-2'
                >OFO Tech Sdn Bhd</a
              >
              <span
                class='block text-gray-800 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                >Mobile Application Developer</span
              >
              <span
                class='block text-gray-800 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                >Oct 2021 - Present</span
              >
              <p class='mt-3'>
                <ul class='px-5' style='list-style-type: circle;'>
                  <li>
                    Write modern, performant, robust and clean code for a
                    diverse array of client and internal projects.
                  </li>
                  <li>
                    Develop and maintain UAV, drone and AI based applications.
                  </li>
                  <li>
                    Develop a UI library and a state management starter kit
                    using Redux Toolkit with authentication and routing
                    functionality.
                  </li>
                  <li>
                    Recent work - <a
                      class='text-blue-600 hover:underline underline-offset-2'
                      target='_blank'
                      href='https://georaise.com/'>geoRAISE</a
                    >
                  </li>
                </ul>
              </p>
            </div>

            <div
              id='tabs-with-card-2'
              role='tabpanel'
              aria-labelledby='tabs-with-card-item-2'
              class='hidden p-5 shadow-xl shadow-gray-300 rounded-xl dark:shadow-gray-900/[.2]'
            >
              <a
                href='https://daffodilvarsity.edu.bd/'
                target='_blank'
                class='block text-lg font-semibold text-blue-600 dark:text-blue-600 hover:underline underline-offset-2'
                >Daffodil International University</a
              >
              <span
                class='block text-gray-800 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                >Software Developer</span
              >
              <span
                class='block mt-1 text-slate-600 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                >Oct 2020 - Sept 2021</span
              >
              <p class='mt-3'>
                <ul class='px-5' style='list-style-type: circle;'>
                  <li>
                    Develop and maintain different website of DIU and Daffodil
                    Family as and when required.
                  </li>
                  <li>
                    User Interface(UI) design and improve User Experience(UX).
                  </li>
                  <li>
                    Develop different web and mobile applications depending on
                    the requirements provided by the management or supervisor.
                  </li>
                  <li>
                    Some works - <a
                      class='text-blue-600 hover:underline underline-offset-2'
                      target='_blank'
                      href='https://gotemplate.net/'>GoTemplate</a
                    >, <a
                      class='text-blue-600 hover:underline underline-offset-2'
                      target='_blank'
                      href='https://diu-faculty-site.vercel.app/'
                      >DIU Faculty Site</a
                    >
                  </li>
                </ul>
              </p>
            </div>

            <div
              id='tabs-with-card-3'
              role='tabpanel'
              aria-labelledby='tabs-with-card-item-3'
              class='hidden p-5 shadow-xl shadow-gray-300 rounded-xl dark:shadow-gray-900/[.2]'
            >
              <a
                href='https://edutechs.org/'
                target='_blank'
                class='block text-lg font-semibold text-blue-600 dark:text-blue-600 hover:underline underline-offset-2'
                >Edutechs</a
              >
              <span
                class='block text-gray-800 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                >Software Developer</span
              >
              <span
                class='block mt-1 text-slate-600 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                >Mar 2019 - Sept 2020</span
              >
              <p class='mt-3'>
                <ul class='px-5' style='list-style-type: circle;'>
                  <li>
                    Working on an educational platform, Edutechs – one click
                    digital video classroom solution along with all the features
                    you need to be a successful teacher or to run a educational
                    institution, first time in Bangladesh.
                  </li>
                  <li>Worked with live streaming technology (WebRTC).</li>
                  <li>
                    Implement Video Broadcasting using webrtc(Openvidu), Kurento
                    Media Server, Docker.
                  </li>
                  <li>
                    Establish persistent connection between server and client
                    using WebSocket(socket.io).
                  </li>
                  <li>
                    Product link - <a
                      class='text-blue-600 hover:underline underline-offset-2'
                      target='_blank'
                      href='https://edutechs.org'>Edutechs Web</a
                    >, <a
                      class='text-blue-600 hover:underline underline-offset-2'
                      target='_blank'
                      href='https://play.google.com/store/apps/details?id=com.openvidu_react_native'
                      >Edutechs Android App</a
                    >, <a
                      class='text-blue-600 hover:underline underline-offset-2'
                      target='_blank'
                      href='https://apps.apple.com/gb/app/edutech-bd/id1533784019'
                      >Edutechs iOS App</a
                    >
                  </li>
                </ul>
              </p>
            </div>

            <div
              id='tabs-with-card-4'
              role='tabpanel'
              aria-labelledby='tabs-with-card-item-4'
              class='hidden p-5 shadow-xl shadow-gray-300 rounded-xl dark:shadow-gray-900/[.2]'
            >
              <a
                href='https://gain.solutions/'
                target='_blank'
                class='block text-lg font-semibold text-blue-600 dark:text-blue-600 hover:underline underline-offset-2'
                >Gain Solutions</a
              >
              <span
                class='block text-gray-800 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                >Junior Web Developer</span
              >
              <span
                class='block mt-1 text-slate-600 dark:hs-tab-active:text-gray-800 dark:text-gray-200'
                >Nov 2018 - Feb 2019</span
              >
              <p class='mt-3'>
                <ul class='px-5' style='list-style-type: circle;'>
                  <li>Develop web application(CRM) with React, Redux.</li>
                  <li>Developing cross browser compatible web application.</li>
                  <li>Working with object oriented javascript codebase.</li>
                  <li>Making technical and coding documentation.</li>
                  <li>Maintain version controlling using git.</li>
                  <li>
                    Product link - <a
                      class='text-blue-600 hover:underline underline-offset-2'
                      target='_blank'
                      href='https://gain.solutions/pipex-details/'>Pipex CRM</a
                    >
                  </li>
                </ul>
              </p>
            </div>
            <!-- End Tab Content -->

            <!-- SVG Element -->
            <div
              class='hidden absolute top-0 right-0 translate-x-20 md:block lg:translate-x-20'
            >
              <svg
                class='w-16 h-auto text-orange-500'
                width='121'
                height='135'
                viewBox='0 0 121 135'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path
                  d='M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164'
                  stroke='currentColor'
                  stroke-width='10'
                  stroke-linecap='round'></path>
                <path
                  d='M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5'
                  stroke='currentColor'
                  stroke-width='10'
                  stroke-linecap='round'></path>
                <path
                  d='M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874'
                  stroke='currentColor'
                  stroke-width='10'
                  stroke-linecap='round'></path>
              </svg>
            </div>
            <!-- End SVG Element -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
  </div>
  <!-- End Features -->
</div>
