<div
  id='footer'
  class='max-w-[85rem] flex flex-col justify-center items-center mx-auto px-4 pt-28 sm:px-20 lg:px-40 mb-6'
>
  <p>
    Designed and developed by <a
      class='text-blue-500 hover:underline underline-offset-2'
      href='https://www.linkedin.com/in/robin4java/'
      aria-label='Linkedin'
      target='_blank'>Abdur Rahman Robin</a
    >
  </p>
</div>
