<!-- Hero -->
<div
  class='flex items-center max-w-[85rem] mx-auto pb-6 px-4 sm:px-20 lg:px-40 h-[calc(100vh-180px)]'
>
  <div>
    <p class='mb-4 text-lg'>Hi, my name is</p>
    <h1
      class='block text-3xl font-bold text-gray-800 sm:text-4xl lg:text-7xl lg:leading-tight dark:text-white'
    >
      Abdur Rahman Robin
    </h1>
    <h2
      class='block text-3xl font-bold text-slate-400 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white'
    >
      I convert thoughts into code
    </h2>
    <p class='max-w-lg my-7 text-lg'>
      A software Engineer with 5+ years of experience specializing in building
      scalable, smooth, beautiful and user-friendly interfaces for mobile and
      desktop devices.
    </p>
    <a
      type='button'
      class='py-3 px-5 inline-flex justify-center items-center gap-2 rounded-md border-2 border-gray-900 font-semibold text-gray-800 hover:text-white hover:bg-gray-800 hover:border-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800 focus:ring-offset-2 transition-all text-sm'
      target='_blank'
      href='/Resume_Abdur_Rahman_Robin.pdf'
    >
      Checkout my resume!
    </a>
  </div>
</div>
<!-- End Hero -->
