<div
  class='max-w-[85rem] px-4 py-10 sm:px-20 lg:px-40 lg:py-14 mx-auto'
  id='project'
>
  <h1 class='mb-4 font-bold text-3xl'>03. Some things I've build</h1>

  <div class='grid gap-14 md:max-md:gap-28'>
    <!-- Start Personal Website V1 -->
    <div
      class='mt-6 md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32'
    >
      <div>
        <img
          class='rounded-xl'
          src='/portfolio_1.jpeg'
          alt='Personal Website V1'
        />
      </div>

      <div class='mt-5 sm:mt-10 lg:mt-0'>
        <div class='space-y-2 md:space-y-4'>
          <h2
            class='font-bold text-3xl lg:text-4xl text-gray-800 dark:text-gray-200'
          >
            Personal Website V1
          </h2>
          <p class='text-gray-500'>
            My first portfolio website which I designed and build in 2019. I was
            learning Next.js and then decided why not develop my personal
            website with it(Next.js).
          </p>
        </div>
        <div class='my-2 space-x-2'>
          <span>Next.js</span>
          <span>React-Bootstrap</span>
          <span>styled-components</span>
        </div>
        <div class='flex space-x-2 sm:space-x-4 mt-4'>
          <a href='https://github.com/robin3317/devrobin' target='_blank'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='feather feather-github w-5 h-5 hover:text-blue-600'
              ><title>GitHub</title><path
                d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'
              ></path>
            </svg>
          </a>

          <a href='https://devrobin.vercel.app/' target='_blank'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='feather feather-external-link w-5 h-5 hover:text-blue-600'
              ><title>External Link</title><path
                d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'
              ></path><polyline points='15 3 21 3 21 9'></polyline><line
                x1='10'
                y1='14'
                x2='21'
                y2='3'></line>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- End Personal Website V1 -->

    <!-- Start Github Finder -->
    <div
      class='mt-6 md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32'
    >
      <div class='order-last'>
        <img
          class='rounded-xl'
          src='https://raw.githubusercontent.com/robin3317/github-repo/main/docs/repo-search-page.PNG'
          alt='Github Finder'
        />
      </div>

      <div class='mt-5 sm:mt-10 lg:mt-0'>
        <div class='space-y-2 md:space-y-4'>
          <h2
            class='font-bold text-3xl lg:text-4xl text-gray-800 dark:text-gray-200'
          >
            Github Finder
          </h2>
          <p class='text-gray-500'>
            An application to find Github related things like as repositories,
            users e.t.c by using beautiful github api, including authentication
            and pagination.
          </p>
        </div>
        <div class='my-2 space-x-2'>
          <span>React.js</span>
          <span>Redux</span>
          <span>Firebase</span>
        </div>
        <div class='flex space-x-2 sm:space-x-4 mt-4'>
          <a href='https://github.com/robin3317/github-repo' target='_blank'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='feather feather-github w-5 h-5 hover:text-blue-600'
              ><title>GitHub</title><path
                d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'
              ></path>
            </svg>
          </a>

          <a href='https://github-repo-v1.netlify.app/' target='_blank'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              role='img'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='feather feather-external-link w-5 h-5 hover:text-blue-600'
              ><title>External Link</title><path
                d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'
              ></path><polyline points='15 3 21 3 21 9'></polyline><line
                x1='10'
                y1='14'
                x2='21'
                y2='3'></line>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- End Github Finder -->
  </div>
</div>
